<footer>
  <div class="content">
    <p>VALERIYA ASTROLOG©, 2023, все права защищены.</p>
    <div class="socials">
      <a href="https://instagram.com/valeriya.astropsy?igshid=NzZlODBkYWE4Ng==">
        <img src="/assets/images/instagram.png">
      </a>
      <a href="https://www.tiktok.com/@valeriyastropsy?_t=8hGneOxBkZa&_r=1">
        <img src="/assets/images/tiktok.png">
      </a>

      <a href="https://t.me/+JJwvIyBObJ9lYzc6">
        <img src="/assets/images/telegram.png">
      </a>
    </div>
  </div>
</footer>
