footer {
  position: relative;
  z-index: 2;
  background-color: var(--accent);
  width: 100%;
}

.content {
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.content p {
  flex-grow: 1;
}

.socials img {
  height: 128px;
}

.socials {
  display: flex;
}

@media (max-width: 700px) {
  .content {
    flex-direction: column-reverse;
  }
  .socials img {
    height: 80px;
  }
}
