<div class="main">
  <div class="content">
    <h1>Если хотите, я могу сама связаться с вами позже. Просто
      оставьте свой контакт и коротко опишите свой вопрос</h1>
      <form>
        <input type="text" placeholder="ВАШЕ ИМЯ">
        <input type="text" [required]="true" placeholder="НОМЕР ТЕЛ., INSTAGRAM ИЛИ TELEGRAM (обязательное поле)*">
        <input type="text" placeholder="КОРОТКО СУТЬ ИНТЕРЕСУЮЩЕГО ВОПРОСА">
        <input type="submit" value="Получить консультацию">
        <p>Я отвечу вам в течении суток. После некоторых уточняющих вопросов я отправлю вам всю
          информацию по стоимости на WhatsApp, Telegram, Viber или Instagram Direct</p>
        <div class="checkbox">
          <input type="checkbox" [required]="true">
          <label>
            Я согласен на обработку персональных данных
          </label>
        </div>
      </form>
  </div>
</div>
