<div class="main">
  <div class="triangle-mobile"></div>
  <div class="content">
    <h1>Если хотите, я могу сама связаться с вами позже. Просто
      оставьте свой контакт и коротко опишите свой вопрос:</h1>
    <app-contact-form (onSent)="modalSuccess.openModal()"></app-contact-form>
  </div>

  <app-modal #modalSuccess [closeable]="false">
    <div class="modal-message">
      <img src="/assets/images/success.svg" width="128">
      <br>
      <h2>Успешно</h2>
      <p>С вами свяжутся в ближайшее время</p>
      <button (click)="modalSuccess.closeModal()">ОК</button>
    </div>
  </app-modal>
</div>
