main {
  border-top: 5px solid var(--accent);
  border-bottom: 5px solid var(--accent);
  background-color: #bdd9ec;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.description {
  margin: 20px;
  width: 80%;
}

.description p {
  margin: 0;
  padding: 0;
}

.bg-text {
  padding: 10px;
  background-color: var(--accent);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  min-width: 270px;
  height: fit-content;
}

.bg-text-mobile {
  display: none;
}

.gift {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift img {
  height: 100px;
  transition: transform 300ms
}

.gift img:hover {
  transform: scale(1.2);
  transition: transform 300ms;
}

@media (max-width: 700px) {
  .bg-text-mobile {
    display: block !important;
  }

  .bg-text {
    display: none;
  }

  .content {
    flex-direction: column;
  }

  .gift {
    flex-direction: column-reverse;
  }

  .gift img {
    height: 256px;
  }
}
