<main>
  <div class="content">
    <div class="description">
      <p><strong>У МЕНЯ ДЛЯ ВАС ПОДАРОК</strong> - хотите чтобы все ваши желания исполнились?
        Получите мою специальную медитацию для исполнения желаний. Учтите, что
        чем чаще вы будете медитировать, тем скорее исполнится ваше желание!</p>
    </div>
    <div class="gift">
      <p class="bg-text">ЖМИТЕ ЧТОБЫ ПОЛУЧИТЬ →</p>
      <p class="bg-text bg-text-mobile">ЖМИТЕ ЧТОБЫ ПОЛУЧИТЬ</p>
      <img alt="gift" src="assets/images/gift.png">
    </div>
  </div>
</main>
