<div class="main">
  <div class="prices">
    <div class="prices-image"></div>
    <div class="price-list">
      <h1>МОИ УСЛУГИ:</h1>
      <table>
        <tr>
          <td>Первичная консультация</td>
          <td>55 €</td>
        </tr>
        <tr>
          <td>Терапевтическая сессия</td>
          <td>65 €</td>
        </tr>
        <tr>
          <td>МАК консультация</td>
          <td>45 €</td>
        </tr>
        <tr>
          <td>Глубокая гипнотерапия</td>
          <td>65 €</td>
        </tr>
        <tr>
          <td>Расклад на одну ситуацию</td>
          <td>20 €</td>
        </tr>
        <tr>
          <td>Анализ одиночества</td>
          <td>45 €</td>
        </tr>
        <tr>
          <td>Прогноз на год</td>
          <td>90 €</td>
        </tr>
        <tr>
          <td>Кармическое предназначение</td>
          <td>65 €</td>
        </tr>
      </table>
      <div class="contact">
        <div class="prices-image-mobile"></div>
        <div class="bottom-text">
          <h2>Я также работаю с индивидуальными запросами</h2>
          <button>ОБРАТИТЬСЯ</button>
        </div>
      </div>
    </div>
  </div>
</div>
