<div class="main">
  <div class="content">
    <h1>ВАЛЕРИЯ АСТРОЛОГ</h1>
    <div class="description">
      <h3>ПРАКТИКУЮ АСТРО-ПСИЛОГИЮ И КАРТЫ ТАРО</h3>
      <p>Пришло время заглянуть в себя, чтобы наконец почувствовать удачу,
        <strong>стать самыми счастливыми, здоровыми и богатыми!</strong>
      </p>
      <div class="signup">
        <p><strong>Получите консультацию по своему запросу</strong></p>
        <div class="signup-button">
          <button (click)="modalContact.openModal()">ЗАПИСАТЬСЯ</button>
        </div>
      </div>
    </div>
  </div>
  <div class="content-mobile">
    <div class="heading">
      <h1>ВАЛЕРИЯ АСТРОЛОГ</h1>
      <h3>АСТРО-ПСИЛОГИЯ И ТАРО</h3>
      <h3><strong>Получите консультацию<br>по своему запросу</strong></h3>
    </div>
    <div class="description">
      <div class="signup">
        <div class="signup-button">
          <button (click)="modalContact.openModal()">ЗАПИСАТЬСЯ</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-description-additional">
    Пришло время заглянуть в себя, чтобы наконец почувствовать удачу,
      <strong>стать самыми счастливыми, здоровыми и богатыми!</strong>
  </div>

  <app-modal #modalContact>
    <h2 style="text-align: center; color: black; margin: 0;">Связь</h2>
    <app-contact-form style="color: black;" (onSent)="modalSuccess.openModal()"></app-contact-form>
  </app-modal>

  <app-modal #modalSuccess [closeable]="false">
    <div class="modal-message">
      <img src="/assets/images/success.svg" width="128">
      <br>
      <h2>Успешно</h2>
      <p>С вами свяжутся в ближайшее время</p>
      <button (click)="modalContact.closeModal(); modalSuccess.closeModal();">ОК</button>
    </div>
  </app-modal>
</div>
