<div class="main">
  <div class="content">
    <h1>ВАЛЕРИЯ АСТРОЛОГ</h1>
    <div class="description">
      <h3>ПРАКТИКУЮ АСТРО-ПСИЛОГИЮ И КАРТЫ ТАРО</h3>
      <p>Пришло время заглянуть в себя, чтобы наконец почувствовать удачу,
        <strong>стать самыми счастливыми, здоровыми и богатыми!</strong>
      </p>
      <div class="signup">
        <p><strong>Получите консультацию по своему запросу</strong></p>
        <div class="signup-button">
          <div class="signup-background"></div>
          <button>ЗАПИСАТЬСЯ</button>
        </div>
      </div>
    </div>
  </div>
  <div class="content-mobile">
    <h1>ВАЛЕРИЯ АСТРОЛОГ</h1>
    <h3>АСТРО-ПСИЛОГИЯ И ТАРО</h3>
    <h3><strong>Получите консультацию по своему запросу</strong></h3>
    <div class="description">
      <div class="signup">
        <div class="signup-button">
          <div class="signup-background"></div>
          <button>ЗАПИСАТЬСЯ</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-description-additional">
    Пришло время заглянуть в себя, чтобы наконец почувствовать удачу,
      <strong>стать самыми счастливыми, здоровыми и богатыми!</strong>
  </div>
</div>
