<div class="main">
  <div class="content">
    <h1>ВАЛЕРИЯ АСТРОЛОГ</h1>
    <div class="description">
      <h3>ПРАКТИКУЮ АСТРО-ПСИЛОГИЮ И КАРТЫ ТАРО</h3>
      <p>Пришло время заглянуть в себя, чтобы наконец почувствовать удачу,
        <strong>стать самыми счастливыми, здоровыми и богатыми!</strong>
      </p>
      <div class="signup">
        <div class="signup-background"></div>
        <p><strong>Получите консультацию по своему запросу</strong></p>
        <button>ЗАПИСАТЬСЯ</button>
      </div>
    </div>
  </div>
</div>
