.main {
  min-height: 1180px;
  height: 100vh;
  background: url("/assets/images/bg.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.content {
  margin: 50px;
  width: 50%;
  word-break: break-word;
}

.description {
  margin-left: 20px;
}

h1 {
  padding: 20px 40px 20px 40px;
  margin: 0;
  background-color: rgba(59, 24, 115, 0.75);
  width: fit-content;
  border-radius: 100px;
  font-size: 4em;
}

h3 {
  font-weight: normal;
  font-size: 1.6em;
}

p {
  font-size: 3em;
}

.signup {
  margin-top: 100px;
  position: relative;
}

.signup-background {
  background: url("/assets/images/lapka.png");
  background-repeat: no-repeat;
  background-size: clamp(100px, 20%, 160px);
  background-position: center;
  height: 100%;
  width: 100%;
  top: 40px;
  right: 100px;
  transform: rotate(35deg);
  position: absolute;
  z-index: 10;
}

.signup-button button {
  margin-top: 120px;
  border: 10px solid #e7f1fe;
  background-color: #8c52ff;
  color: white;
  font-size: 2.4em;
  width: 40%;
  min-width: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 100px;
  position: relative;
  transition: all 300ms;
}

.signup-button button:hover {
  background-color: white;
  color: black;
  transition: all 300ms;
}

@media (max-width: 1366px) {
  h1 {
    font-size: 3em;
  }

  h3 {
    font-weight: normal;
    font-size: 1.5em;
  }

  p {
    font-size: 2em;
  }

  .signup-button button {
    font-size: 2em;
  }
}

.content-mobile {
  display: none;
  margin: 40px 10px 10px 10px;
  position: relative;
}

.mobile-description-additional {
  position: absolute;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.74);
  bottom: 100px;
  font-size: 5vw;
  margin-left: 10px;
  margin-right: 10px;
  display: none;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 2em;
  }

  .main {
    background: url("/assets/images/bg-mobile.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: unset;
  }

  .signup-background {
    top: 30px;
    right: 0;
  }
}

@media (max-width: 700px) {
  .content {
    display: none;
  }

  .mobile-description-additional {
    display: block;
  }

  .content-mobile {
    display: block;
  }

  .description {
    margin-left: unset;
    width: 50%;
  }

  .signup {
    margin: 0;
    width: 100%;
  }

  h3, p, .signup-button button {
    font-size: unset;
  }

  h1 {
    font-size: 7vw;
  }

  h3 {
    margin-left: 20px;
    font-size: 5vw;
  }

  .signup-button button {
    font-size: 5vw;
    min-width: unset;
    width: unset;
    margin-top: 50px;
    padding: 20px 30px 20px 30px;
    border: 5px solid #e7f1fe;
  }

  .signup-background {
    background-size: clamp(50px, 10%, 100px);
    top: -20px;
    right: 10px;
    transform: rotate(7deg);
  }

  .main {
    min-height: unset;
  }
}
