.main {
  min-height: 100%;
  height: 100%;
  background: url("/assets/images/bg.webp") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.content {
  margin: 80px 50px 50px 80px;
  width: 57%;
  word-break: break-word;
}

.description {
  margin-left: 20px;
}

h1 {
  padding: 20px 40px 20px 40px;
  margin: 0;
  background-color: rgba(59, 24, 115, 0.75);
  width: fit-content;
  border-radius: 100px;
  font-size: 4em;
}

h3 {
  font-weight: normal;
  font-size: 1.6em;
}

.content p {
  font-size: 3em;
}

.signup {
  margin-top: 100px;
  position: relative;
}

.signup-button {
  border: 10px solid #e7f1fe;
  background-color: #8c52ff;
  color: white;
  font-size: 2.4em;
  width: 40%;
  min-width: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 100px;
  position: relative;
  transition: all 300ms;
  cursor: pointer;
}

.signup-button button:hover {
  background-color: white;
  color: black;
  transition: all 300ms;
}

@media (max-width: 1366px) {
  h1 {
    font-size: 3em;
  }

  h3 {
    font-weight: normal;
    font-size: 1.5em;
  }

  .content p {
    font-size: 2em;
  }

  .signup-button button {
    font-size: 2em;
  }
}

.content-mobile {
  display: none;
  margin: 40px 10px 10px 10px;
}

.mobile-description-additional-paragraph {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.74);
  font-size: 5vw;
  text-align: center;
  margin: 16px 10px 5px;
}

.mobile-description-additional-wrapper {
  display: none;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 2em;
  }

  .main {
    background-size: cover;
    background: url("/assets/images/bg-mobile.webp") no-repeat center bottom;
    min-height: unset;
  }

  .signup-background {
    top: 30px;
    right: 0;
  }
}

@media (max-width: 800px) {
  .content {
    display: none;
  }

  .mobile-description-additional-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-mobile {
    display: block;
  }

  .description {
    margin-left: unset;
    width: 50%;
  }

  .signup {
    margin: 0;
    width: 100%;
  }

  h3, p, .signup-button button {
    font-size: unset;
  }

  h1 {
    font-size: 7vw;
  }

  h3 {
    margin-left: 20px;
    font-size: 5vw;
  }

  .signup-button {
    font-size: 5vw;
    min-width: unset;
    width: unset;
    margin-top: 50px;
    padding: 20px 30px 20px 30px;
    border: 5px solid #e7f1fe;
  }

  .main {
    min-height: unset;
  }
}

.sign-up-paragraph {
  font-size: 34px;
  font-weight: 700;
}

.social-webs-icons-paragraph {
  font-size: 2em !important;
}

.icons-menu {
  cursor: pointer;
}

.social-link {
  margin-right: 20px;
}

.social-icon {
  width: 100px;
  transition: transform 0.3s ease;
}

.social-link:hover .social-icon {
  transform: scale(1.2);
}

.mobile-icon-paragraph {
  text-align: center;
  font-size: 5vw;
  margin: 0;
}
